<div class="row" highlight="all">
	<div class="col-lg-12">
		<!-- portlet -->
		<div class="kt-portlet">
			<div class="kt-portlet__body">
				<!-- portlet content -->
				<ngb-tabset>
					<ngb-tab>
						<ng-template ngbTabTitle>Example</ng-template>
						<ng-template ngbTabContent>
							<!-- example -->
							<ng-content select=".code-preview-example"></ng-content>
							<!-- example -->
						</ng-template>
					</ngb-tab>
					<ngb-tab>
						<ng-template ngbTabTitle>API</ng-template>
						<ng-template ngbTabContent>
							<!-- example -->
							<ng-content select=".code-preview-api"></ng-content>
							<!-- example -->
						</ng-template>
					</ngb-tab>
				</ngb-tabset>
				<!-- /portlet content -->
			</div>
		</div>
		<!-- /portlet -->
	</div>
</div>
