// load base demo styles. for demo purpose, the style will be loaded here
// for production, include the demo base style in /src/index.html file to load the css earlier
@import "../../../../../assets/demo/demo2/base/style.bundle.css";

kt-base {
	height: 100%;

	.kt-grid--root {
		height: 100%;
	}
}
