// import one of the base demo style (default)
@import "../../../../assets/demo/default/base/style.bundle.css";
// import login css
@import "../../../../assets/app/custom/login/login-v1.default.css";

kt-auth, .kt-login {
	height: 100%;

	.mat-form-field {
		width: 100%;
	}

	// add extra right padding when displaying spinner in button
	.kt-spinner {
		padding-right: 3rem !important;
	}
}
