aiohttp==3.6.2
appdirs==1.4.3
appnope==0.1.0
asgiref==3.2.3
astroid==2.3.3
async-timeout==3.0.1
attrs==19.2.0
autopep8==1.5
awscli==1.18.16
awswrangler==0.0.11
backcall==0.1.0
bleach==3.1.0
boto3==1.9.251
botocore==1.12.251
chardet==3.0.4
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
colorama==0.4.3
cycler==0.10.0
dash==1.7.0
dash-core-components==1.6.0
dash-html-components==1.0.2
dash-renderer==1.2.2
dash-table==4.5.1
decorator==4.4.0
defusedxml==0.6.0
distlib==0.3.0
Django==3.0.3
django-plotly-dash==1.1.3
docutils==0.15.2
dpd-components==0.1.0
entrypoints==0.3
filelock==3.0.12
Fiona==1.8.11
Flask==1.1.1
Flask-Compress==1.4.0
fsspec==0.5.2
future==0.18.2
geopandas==0.6.1
idna==2.8
importlib-metadata==0.23
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.3
jmespath==0.9.4
joblib==0.14.0
json5==0.8.5
jsonschema==3.1.1
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.0
jupyter-plotly-dash==0.3.1
jupyterlab==1.1.4
jupyterlab-server==1.0.6
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
mistune==0.8.4
more-itertools==7.2.0
multidict==4.7.0
munch==2.5.0
nbconvert==5.6.0
nbformat==4.4.0
nbserverproxy==0.8.8
notebook==6.0.1
numpy==1.17.2
pandas==0.25.1
pandocfilters==1.4.2
parso==0.5.1
pexpect==4.7.0
pg8000==1.13.2
pickleshare==0.7.5
plotly==4.4.1
prometheus-client==0.7.1
prompt-toolkit==2.0.10
ptyprocess==0.6.0
pyarrow==0.14.1
pyasn1==0.4.8
pycodestyle==2.5.0
Pygments==2.4.2
pylint==2.4.4
PyMySQL==0.9.3
pyparsing==2.4.2
pyproj==2.4.1
pyrsistent==0.15.4
python-dateutil==2.8.0
pytz==2019.3
PyYAML==5.3
pyzmq==18.1.0
qgrid==1.1.1
qtconsole==4.6.0
retrying==1.3.3
rsa==3.4.2
s3fs==0.3.5
s3transfer==0.2.1
scikit-learn==0.21.3
scipy==1.3.1
scramp==1.1.0
seaborn==0.9.0
Send2Trash==1.5.0
Shapely==1.6.4.post2
six==1.12.0
sklearn==0.0
sqlparse==0.3.0
tenacity==5.1.1
terminado==0.8.2
testpath==0.4.2
tornado==6.0.3
traitlets==4.3.3
typed-ast==1.4.1
Unidecode==1.1.1
urllib3==1.25.6
virtualenv==20.0.9
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
wrapt==1.11.2
xlrd==1.2.0
yarl==1.4.2
zipp==0.6.0
